.home-page{

    .text-zone{
        position:absolute;
        margin-left: 11%;
        top:50%;
        transform: translateY(-50%);
        width: 45%;
        max-height: 90%;
    }
        h1{
        color:#fff;
        font-size: 53px;
        letter-spacing: 1.5px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 405;

        
        img{
            mix-blend-mode:multiply;
            width: 32px;
            margin-left:22px ;
            opacity: 1;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }
    h2{
        color: #8e8e8e;
        margin-top: 20px;
        font-weight: 405;
        font-size: 15px;
        font-family: sans—serif;
        letter-spacing: 3px;
        animation: fadeln Is 1.8s backwards;
    }
    .flat-button{
     color: #ffe600;
     font-size: 13px;
     font-weight: 400;
     letter-spacing: 4.5px;
     font-family: sans-serif;
     text-decoration: none;
     padding: 10px 18px;
     border: 1px solid #ffe600;
     margin-top: 25px;
     float: left;
     animation: fadeln 1s 1.8s backwards;
     white-space: nowrap;

&:hover{
    background: #ffe600;
    color: black;
}
    
    }
}